@model SaferMS.Models.DB.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre (s)</label>
                <input asp-for="Nombre" class="form-control" placeholder="Coloca Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label">Apellidos</label>
                <input asp-for="Apellidos" class="form-control" placeholder="Coloca Apellidos" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEmpleado" class="control-label">Número de empleado</label>
                <input asp-for="NumEmpleado" class="form-control" placeholder="Coloca número de empleado" />
                <span asp-validation-for="NumEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" placeholder="Coloca Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsexo" class="control-label">Sexo</label>
                <select asp-for="Idsexo" class="form-control" asp-items="ViewBag.Idsexo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPuesto" class="control-label">Puesto</label>
                <select asp-for="IdPuesto" class="form-control" asp-items="ViewBag.IdPuesto"></select>
            </div>
            <div class="form-group">
                <label>Posición</label>
                <select asp-for="Posición" class="form-control">
                    <option>Administrativo</option>
                    <option>Operativo</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento"></select>
            </div>
            <div class="form-group">
                <label>Privilegio</label>
                <select asp-for="Privilegio" class="form-control">
                    <option>Administrador</option>
                    <option>Directivo</option>
                    <option>Responsable de seguimiento</option>
                    <option>Usuario simple</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label">Contraseña</label>
                <input asp-for="Contraseña" class="form-control" placeholder="Coloca nueva contraseña" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al registro de usuarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
