@model SaferMS.Models.DB.RegistroObservacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Registro de observación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdObservacion" />
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacion" class="control-label"></label>
                <input asp-for="UsuarioCreacion" class="form-control" />
                <span asp-validation-for="UsuarioCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArea" class="control-label"></label>
                <select asp-for="IdArea" class="form-control" asp-items="ViewBag.IdArea"></select>
                <span asp-validation-for="IdArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacionA" class="control-label"></label>
                <input asp-for="ObservacionA" class="form-control" />
                <span asp-validation-for="ObservacionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonasRetroalimentadas" class="control-label"></label>
                <input asp-for="PersonasRetroalimentadas" class="form-control" />
                <span asp-validation-for="PersonasRetroalimentadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionObservacion" class="control-label"></label>
                <input asp-for="DescripcionObservacion" class="form-control" />
                <span asp-validation-for="DescripcionObservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccionesRealizadas" class="control-label"></label>
                <input asp-for="AccionesRealizadas" class="form-control" />
                <span asp-validation-for="AccionesRealizadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoObservacion" class="control-label"></label>
                <input asp-for="TipoObservacion" class="form-control" />
                <span asp-validation-for="TipoObservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAspecto" class="control-label"></label>
                <select asp-for="IdAspecto" class="form-control" asp-items="ViewBag.IdAspecto"></select>
                <span asp-validation-for="IdAspecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComportamiento" class="control-label"></label>
                <select asp-for="IdComportamiento" class="form-control" asp-items="ViewBag.IdComportamiento"></select>
                <span asp-validation-for="IdComportamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criticidad" class="control-label"></label>
                <input asp-for="Criticidad" class="form-control" />
                <span asp-validation-for="Criticidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartamento" class="control-label"></label>
                <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento"></select>
                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanAccion" class="control-label"></label>
                <input asp-for="PlanAccion" class="form-control" />
                <span asp-validation-for="PlanAccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoSolucion" class="control-label"></label>
                <input asp-for="TiempoSolucion" class="form-control" />
                <span asp-validation-for="TiempoSolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresupuestoRequerido" class="control-label"></label>
                <input asp-for="PresupuestoRequerido" class="form-control" />
                <span asp-validation-for="PresupuestoRequerido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompromiso" class="control-label"></label>
                <input asp-for="FechaCompromiso" class="form-control" />
                <span asp-validation-for="FechaCompromiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentariosObservacion" class="control-label"></label>
                <input asp-for="ComentariosObservacion" class="form-control" />
                <span asp-validation-for="ComentariosObservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al resgistro de observaciones</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
