@model SaferMS.Models.DB.Aspecto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Aspecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomAspecto" class="control-label">Aspecto</label>
                <input asp-for="NomAspecto" class="form-control" />
                <span asp-validation-for="NomAspecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al registro de aspectos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
