@model SaferMS.Models.DB.Aspecto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro que desea eliminar aspecto?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAspecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAspecto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAspecto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al registro de aspectos</a>
    </form>
</div>
