@model SaferMS.Models.DB.Puesto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro que desea eliminar puesto?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPuesto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPuesto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a registro de puestos</a>
    </form>
</div>
